{% extends '../base.html' %}

{% block head %}
    <h1> REGISTRATION FORM </h1>
    
{% endblock %}
{% block body %}
    <form method="POST" action="#">
        {% csrf_token %}
        <input type="email" placeholder="Email"><br>
        <input type="text" placeholder="First Name"><br>
        <input type="text" placeholder="Last Name"><br>
        <input type="password" placeholder="Password"><br>
        <input type="tel"><br>



    <input type="submit" name="Create User">

    </form>
{% endblock %}



